<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Angle-Dist" version="2.1.17392" targetFramework="net481" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="net481" />
  <package id="libLAS" version="1.8.2" targetFramework="net481" />
  <package id="Prism.Core" version="6.3.1" targetFramework="net481" />
  <package id="Prism.Mef" version="6.3.1" targetFramework="net481" />
  <package id="Prism.Wpf" version="6.3.1" targetFramework="net481" />
  <package id="TAK.Kernel" version="4.6.32" targetFramework="net481" />
  <package id="TTP-Dist" version="2.11.0" targetFramework="net481" />
  <package id="WinTak-Dependencies" version="4.10.0.167" targetFramework="net481" />
</packages>